@model TestApp.Models.UserModel
@using TestApp.Models
@using CommonFiles.Resource
@using reCaptcha;
@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>
@using (Html.BeginForm("RequestUser", "User", FormMethod.Post))
{
    <div class="row">
        @Html.Label(UserResources.Name, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>
    </div>
    <div class="row">
        @Html.Label(UserResources.Password, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.PasswordTest, new { @type = "password", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        @Html.Label(UserResources.Password, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.PasswordTest, new { @type = "password", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        @Html.Label(UserResources.Email, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="row">
            @Html.Label(UserResources.Gender, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.EnumDropDownListFor(model => model.Gender, UserResources.Gender, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
            @Html.Label(UserResources.About, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextAreaFor(model => model.AboutText, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
            @Html.Label(UserResources.SecretQuestion, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.SecretQuestion, UserModel.Questions,new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
            @Html.Label(UserResources.SecretAnswer, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.SecretAnswer, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SecretAnswer)
        </div>
    </div>
    <div class="row">
            @Html.Label(@UserResources.Agreement, new { @class = "col-md-4" })
        <div class="col-md-4">
           @*   @Html.CheckBoxFor(model => model.Agreement, new { @class = "form-contol" })*@
            @Html.EditorFor(model => model.Agreement)
        </div>
    </div>
    @ReCaptcha.GetHtml(@ViewBag.publicKey)

    if (ViewBag.RecaptchaLastErrors != null)
    {
        <div>Oops! Invalid reCAPTCHA =(</div>
    }
    <input class="btn btn-default" type="submit" value=@UserResources.btnSend />
}