@model IList<TestApp.Models.BoxModel>
@using CommonFiles.Resource;
@using System.Reflection;
@{
    ViewBag.Title = @CommonFiles.Resource.BoxResources.ListBoxes;
}

<h2>@BoxResources.ListBoxes</h2>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            @foreach (PropertyInfo property in typeof(TestApp.Models.BoxModel).GetProperties().Where(property => property.Name != "ID"))
            {
                <th>
                    @typeof(CommonFiles.Resource.BoxResources).GetProperty(property.Name).GetMethod.Invoke(null, null)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TestApp.Models.BoxModel box in Model)
        {
            <tr>
                <td>@Html.ActionLink(BoxResources.Edit,"EditBox","ATP",new { id = box.ID },new { @class = "btn btn-primary  glyphicon glyphicon-edit" })</td>
                @foreach (PropertyInfo property in box.GetType().GetProperties().Where(property=>property.Name!="ID"))
                {
                <td>
                    @Html.Raw(property.GetValue(box))
                </td>
                }   
                <td>@Html.ActionLink(" ","DeleteBox","ATP",new { id = box.ID }, new { @class = "btn btn-danger  glyphicon glyphicon-remove" })</td>
            </tr>
        }
    </tbody>
</table>

